footer {
	text-align: center;

	.wrapperNavFooter {
		display: flex;
		flex-flow: column wrap;
		align-item: space-around;
		padding: 2rem 0 0;
	}

	.menu-social-menu-container, p {
		margin: 0 auto;
	}

	ul {
		list-style: none;
		display: flex;
		font-size: 2.4rem;
	}

	i {
		padding: 2rem;
		border-bottom: 1px solid transparent;
		transition: 0.5s;
		
		&:hover {
			color: $yellow;
		}
	}
}