footer {
	display: block;
	position: static;
	font-size: 1.6rem;
	display: flex;
	text-align: center;r


	li {
		padding: 20px;
	}

	i {
		color: $blue;
		background: $white;

		&:hover {
			color: $yellow;
		}
	a:hover {
		border: none;
	}
	}
}