.wrapper {
	margin-top: 11.5rem;
}

.hero-container {

	background-size: cover;
	background-position: center;
	width: 100%;
	margin: 3rem auto;
	padding: 4rem;
	text-align: center;
	color: $white;
	
	svg {
		fill: $white;
		width: 10%;
	}

	h1 {
		text-transform: uppercase;
		margin: 2rem 0 18rem;
		font-size: 6rem;
	}
	h2 {
		margin: 3rem;
		font-family: "Lora";
		font-size: 3.6rem;
	}
 }

 .content-text {
 	margin: 6rem 0;
 	font-size: 2rem;
 	text-align: center;
 	font-family: "Lora"
 }

 .content-image {
 	width: 100%;
 	margin: 2rem auto;
 	display: flex;
 	flex-flow: wrap row;

 	.featureImagecontainer {
 		flex: 1 0 33%;
 		width: 50%;
		position: relative;
			img {
 			width: 100%;
 			display: block;
 		}
 	}
 	.overlay {
 		display: none;
 	}
 	.featureImagecontainer:hover .overlay {
 		display: block;
 		padding: 1rem;
 		background: rgba(44, 48, 62, 0.8);	
 		position: absolute;
 		z-index: 100;
 		top: 1rem;
 		right: 1rem;
 		bottom: 1rem;
 		left: 1rem;
 		color: $white;

 			p {
 				font-size: 2rem;
 				position: absolute;
  				top: 50%;
  				left: 50%;
 				transform: translate(-50%,-50%);

 			}
 	}
 }
