.container {
	display: flex;
	.sidebar {
		flex: 1 0 25%;
		border: 2px solid #f0f;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			}
		}
	}
	.content {
		flex: 1 0 calc(75% - 3rem);
		margin: 0 3rem 0 3rem;
	}
	.content-text {
		border: 1px solid $blue;
		padding: 2rem;
	}
}