/* index - wp blog page
-----------------------
*/

.main {
	margin: 6rem 0;
}

.container {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-top;
	margin: 0 3rem 1rem 0;

	article {
		margin: 4rem 0;
	}

	.image-content {
		position: relative;
	}

	section {
		display: flex;
		flex-flow: row wrap;
		position: relative;
		@media (max-width: 800px){
			flex-flow: column wrap;
 		}
	}
	.content-text, .image-content {
		@media (max-width: 600px){
 			flex: 1 0 100%;
 		}
	}

	.content-text {
		display: flex;
		position: relative;
	}

	.content-date, .content-text {
		margin: 0;	
	}

	#post-42 {
		section {
			margin: 0 3rem 3rem 0;
			align-items: flex-end;
		}

		.image-content {
			flex: 1 0 47%;
		}

		.content-text{
			flex: 1 0 53%;
			text-align: right;	
		
		.text-flex{
			padding-right: 2rem;
			flex: 1 0 80%;
		}

		.content-date {
			flex: 1 0 20%;
			p{
			border-left: 1px solid $yellow;}
		}
	}
	}

	#post-40{
		section {
			margin: 0 3rem 3rem 0;
			align-items: center;
		}

		.image-content{
			flex: 1 0 60%;
			order: 5;
		}
		
		.content-text{
			flex: 1 0 40%;
			order: 3;

		.flex-container {
			flex: 1 0 80%;
			padding-left: 2rem;
			width: 150%;
			text-align: left;
			@media (max-width: 800px){
				width: 100%;
 		}
		}
		
		.content-date {
			flex: 1 0 20%;
			order: -1;

			p {
				padding-right: 2rem;
				border-right: 1px solid $yellow;
				text-align: right;
				}
			}
		}
	}

	#post-36 {
		top: -8rem;
		position: relative;
			
		section {
			margin: 0 3rem 3rem 0;
			align-items: center;
		}

		.image-content{
			flex: 1 0 35%;
			position: relative;
		}
		.flex-container{
			flex: 1 0 80%;
			text-align: right;
			padding-right: 2rem;
		}

		.content-text{
			flex: 1 0 55%;
			display: flex;
		}

		.content-date {
			flex: 1 0 10%;

			p {
				border-left: 1px solid $yellow;
				padding-left: 2rem;
				text-align: right;
			}
		}
	}

	#post-38{
		top: -13rem;
		position: relative;

		section {
			margin: 0 3rem 3rem 0;
			align-items: flex-start;
		}

		.image-content{
			flex: 1 0 45%;
			order: 5;
		}

		.content-text{
			flex: 1 0 45%;
			padding: 0 2rem;
			order: 3;

			h2 {
				margin-top: 0;
			}
			.flex-container{
				padding-left: 2rem;
			}

			.text-flex{
				text-align: left;
			}
		}
		.content-date {
			flex: 1 0 10%;
			order: -1;
			p{
			padding-right: 2rem;
			border-right: 1px solid $yellow;

			}
		}
	}
	
	#post-34 {
		top: -13rem;
		position: relative;

		section {
			margin: 0 3rem 3rem 0;
			align-items: flex-top;
		}

		.image-content{
			flex: 1 0 70%;
		}

		.content-text{
			flex: 1 0 20%;

			.flex-container{
				text-align: right;
				padding-right: 2rem;
				position: absolute;
				right: 0;
				width: 300%;
				padding-right: 2rem;
					@media (max-width: 800px){
				width: 100%;
 		}
			}

			.text-flex{
				position: relative;
				flex: 1 0 60%;
				text-align: right;
			}
		}

		.content-date {
			flex: 1 0 20%;

			p {
				border-left: 1px solid $yellow;
				padding-left: 2rem;
			}
		}
	}

	#post-89 {
		top: -13rem;
		position: relative;

		section {
			margin: 0 3rem 3rem 0;
			align-items: flex-end;
		}

		.image-content{
			flex: 1 0 45%;
			order: 5;
		}

		.content-text{
			flex: 1 0 45%;
			padding: 0 2rem;
			order: 3;

			h2 {
				margin-top: 0;
			}

			.text-flex{
				text-align: left;
			}
		}
		.content-date {
			flex: 1 0 10%;
			padding-right: 2rem;
			order: -1;

			p {
				border-right: 1px solid $yellow;
				padding-right: 2rem;
			}
		}
	}
}
