header {
	position: fixed;
	background-color: $white;
	left: 0;
	right: 0;
	top: -3rem;
	margin: 0;
	z-index: 200;
	transition: top 0.5s ease-in-out;

	nav {
	flex: 1 0 70%;
	text-align: right;	
	}
	ul.menu {
	margin: 0;
	padding: 0;
	text-align:right;

	li {
		display: inline;
		margin-right: 10px;

		a {
			color: $blue;
			text-decoration: none;
			padding: 10px;
			font-size: 1.8rem;

			&:hover {
				border-bottom: 1px solid $yellow;
			}
		}
	}
}
}

.wrapperNavFooter {
	display: flex;
	align-items: flex-end;
	margin: 4rem auto 2rem;
	max-width: 1200px;
	padding: 0 2rem;

.logo{
	flex: 1 0 20%;
	text-align: left;
		img {
		width: 25%;
		display: block;
	}
}
}

.header-up {
  top: -18rem; 

}




.hero-container {
	background-size: cover;
	background-position: center;
	width: 100%;
	margin: 0 auto 3rem;
	padding: 4rem;
	text-align: center;
	color: $white;
	position: relative;

	.background-hero {
		background: rgba(0,0,0,0.5);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.logo{
		position: relative;
		z-index: 700;
	}
	
	.page-id-2 .hero-container {
		background-position: bottom;
	}

	svg {
		fill: $white;
		width: 10%;
	}

	h1.front-page {
		text-transform: uppercase;
		margin: 2rem 0 18rem;
		color: $white;
	}

	h1{
		font-size: 6rem;
		font-family: "Butler";
		position: relative;
		margin: 15rem auto;
		color: $white;
	}

	h2 {
		margin: 3rem;
		font-family: "Butler";
		font-size: 3.6rem;
		z-index: 700;
		position: relative;

	}
}
	
 