/* NAVIGATION
--------------
*/

header {
	margin: 0;
	position: fixed;
	left: 0;
	right: 0;
	top: -3rem;
	z-index: 200;
	background-color: $white;
	transition: top 0.5s ease-in-out;

	nav {
		flex: 1 0 70%;
		text-align: right;	
	}

	ul.menu {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline;
	}

	a {
		padding: 10px;

		&:hover {
			border-bottom: 1px solid $yellow;
		}
	}
}

.wrapperNavFooter {
	max-width: 1200px;
	margin: 4rem auto 2rem;
	padding: 0 2rem;
	display: flex;
	align-items: flex-end;

	.logo {
		flex: 1 0 20%;
		text-align: left;

		img {
			max-width: 25%;
		@media (max-width: 900px){
			max-width: 30%;
		}
		@media (max-width: 800px){
			max-width: 35%;
		}
		@media (max-width: 700px){
			max-width: 40%;
		}
		@media (max-width: 600px){
			max-width: 45%;
		}
		@media (max-width: 500px){
			max-width: 50%;
		}
		@media (max-width: 400px){
			max-width: 55%;
		}
		}
	}
}

.header-up {
  top: -10rem; 
}
/* HERO IMAGE 
-------------
*/

.hero-container {
	max-width: 100%;
	background-size: cover;
	background-position: center;
	margin: 0 auto 3rem;
	padding: 4rem;
	position: relative;

	.background-hero {
		background: rgba(0,0,0,0.5);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.logo {
		position: relative;
		z-index: 700;
	}

	svg {
		max-width: 10%;
		fill: $white;
		@media (max-width: 900px){
			max-width: 15%;
		}
		@media (max-width: 800px){
			max-width: 17%;
		}
		@media (max-width: 700px){
			max-width: 19%;
		}
		@media (max-width: 600px){
			max-width: 21%;
		}
		@media (max-width: 500px){
			max-width: 23%;
		}
		@media (max-width: 400px){
			max-width: 25%;
		}
	}

	h1 {
		position: relative;
	}

	h2 {
		margin: 3rem;
		position: relative;
		z-index: 200;
	}
}
	
 