/* full-page - wp About
-----------------------
*/

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	text-align: center;

	@media (max-width: 650px){
		flex-flow: column;
	}


	.content p {
		flex: 1 0 33%;

	}
}

