/* Sidebar - wp Blog
--------------------
*/
.sidebar {
	max-width: 100%;
	border-top: 1px solid $yellow;
	border-bottom: 1px solid $yellow;	
	padding: 2rem 0 3rem;

	ul.xoxo {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		text-align: center;
		


		li {
			flex: 1 0 30%;
			text-align: center;
			list-style: none;
			padding: 0.7rem;
		}

		a {
			border: 1px solid transparent;

			&:hover {
				border-bottom: 1px solid $yellow;
			}
		}
	}

	#categories-2{
		flex: 1 0 20%;
	
	@media (max-width: 700px){
		flex: 1 0 50%; 		
		}
	}

	#recent-posts-2{
		flex: 1 0 30%;
	@media (max-width: 700px){
		flex: 1 0 50%; 		
		}
	}

	#tag_cloud-2 .tagcloud{
		flex: 1 0 50%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		@media (max-width: 700px){
			flex: 1 0 100%; 		
		}

		a {
			flex: 1 0 calc(33.3% - 1rem);
			margin: 0.5rem;
			padding: 1rem 0.5rem;
			color: $yellow;
			border: 1px solid $yellow;
			transition: 0.5s;

			&:hover {
				color: $white;
				background: $yellow;
			}
		}
	}
}

