.post {
	.entry-content {
		display: flex;
		flex-flow: row wrap;
		margin: 4rem 0;
		@media (max-width: 650px){
		flex-flow: column;
		}

	}
	
	.partOne, .partTwo {
		flex: 1 0 calc(50% - 5rem);
		position: relative;

		@media (max-width: 650px){
			flex: 1 0 100;
		}

	}

	.partOne {
		margin: 0 5rem 0 0;
		text-indent: 3rem;
		@media (max-width: 650px){
			margin: 0;
		}
	}

	.partTwo blockquote p {
		position: relative;
		left: -2rem;
		padding: 2rem;
		@media (max-width: 650px){
			border-left: 1px solid transparent;
			border-top: 1px solid $yellow;
			text-align: center;
		}
	}
	.entry-meta, #nav-below, .nav-previous {
		a {
		color: $yellow;
		font-size: 1.8rem;
		}
	}
	.entry-meta {
		margin: 3rem 0;
	}

	#nav-below {
		display: flex;
		justify-content: space-between;
		text-align: right;

		.nav-previous, .nav-next {
			flex: 1 0 20%;
		}
	}
	
	#nav-below .nav-previous {
		text-align: left;
	}
}